include ../mixins/food-block.pug
section.food
    +food-block({
        title: 'Restaurant',
        subtitle: 'Good F',
        img: './assets/imgs/food1.png',
        img2: './assets/imgs/food2.png',
        subtitle_d: 'd',
        subtitle2: 'Good M',
        mood: './assets/imgs/mood.png',
        text: 'The food palace is an neighborhood restaurent serving seasonal global cuisine driven by the faire.',
        icone1: './assets/imgs/icone1.png',
        icone2: './assets/imgs/icone2.png',
        icone3: 'assets/imgs/icone3.png',
        img3: './assets/imgs/food3.png',
        img4: './assets/imgs/food4.png',
        img5: './assets/imgs/food5.png',
        img6: './assets/imgs/food6.png'
    })