.header
    img(src="./assets/imgs/logo.png", alt="logo").header__logo
    img(src="./assets/imgs/sandvich.png", alt="sandvich").header__img
    span.header__menu
        img(src="./assets/imgs/search.png", alt="search").header__menu-img 
        img(src="./assets/imgs/cart.png", alt="cart").header__menu-img
        img(src="./assets/imgs/menu.png", alt="menu").header__menu-img