section.review
    .review__row
        .review__content
            .review__title Testimonial
            .review__subtitle That’s what our Client Says
            .review__text “Food palace is an awesome place. Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province”
            .review__name Jessica Parker
            .review__mail Product Designer @ Kitty
        .review__img
            img(src="./assets/imgs/food8.png", alt="food")