mixin feature-block(args={})
    a(href="#").feature-block
        img(src=args.img, alt="service").feature-block__img
        .feature-block__subtitle=args.subtitle
        .feature-block__text=args.text