mixin futter-item(args={})
    a(href="#").futter-item
        h2.futter-item__title=args.title 
        .futter-item__text=args.text 
        .futter-item__text=args.text2  
        .futter-item__text=args.text3